.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px; 
}
.swiper-button-next,
.swiper-button-prev {
  color: #333;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}
.ticket-page {
background: linear-gradient(180deg, #F56B9A , #231F42 50%);
width: 100vw;
min-height: 100vh;
}
.ticket__title {
    color: var(--Background-color);
    text-align: center;
    padding: 3rem;
}
.ticket-card__list {
    display: flex;
    flex-direction: column;
}
.ticket-card {
    list-style-type: none;
    background-color: whitesmoke;
    width: 80%;
    height: 600px;
}
.ticket__name {
    color: var(--Pink);
    font-size: 36px;
    padding: 2rem 0;
    border-bottom: dotted 2px gray;    
}
.ticket-text {
    padding-top: 1rem;
}
.ticket__place {
    padding-bottom: 1rem;
    border-bottom: dotted 2px gray;
}
.ticket-details {
    display: flex;justify-content: space-between;
    padding: 2rem 2rem 1rem 0;
    border-bottom: dotted 2px gray;
    
}
.barcode {
  margin-top: 10px;
  width: 100%;
  height: auto;
  background-color: transparent;
  fill: none;
  stroke: none;  
}
.barcode-text {
    text-align: center;
  }
