

.start-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 768px;
    height: 100vh;
    
}
.logo {
    width: 350px;
    height: 350px;
}
.start-page__title {
    font-size: 3rem;
}
.start-page__desc {
    color: var(--White);
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;
}